<h1>List of Shoe Brand Names</h1>
<hr>
<% if @brands.any?() %>
<ul>
  <% @brands.each do |brand| %>
  <li><a href="/brands/<%= brand.id() %>"><%= brand.brand_name()%></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no Brand Names yet!</p>
<hr>
<a href="/">Create a Shoe Store</a>
<% end %>
