<h1>Shoe Brand Name: <%= @brand.brand_name() %></h1>

<hr>

<form action="/brands/<%= @brand.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="brand-name">Update Brand Name</label>
  <input type="text" name="brand-name">
  <button class="btn btn-info" type="submit">Update</button>
</form>

<hr>
<form action="/brands/<%= @brand.id() %>" method="post">
 <input type="hidden" name="_method" value="delete">
 <button class="btn btn-danger" type="submit">Destroy Brand</button>
</form>
<hr>
<a href="/stores">List All Shoe Stores</a>
<br>
<a href="/brands">List All Shoe Brands</a>
<br>
<a href="/">Home</a>
