<hr>
<form action="/shoes" class="form-group" method="post">
  <input type="hidden" name="name" value="New Store">
  <button type="submit" name="button">Add Shoe Store</button>
</form>
<hr>
<a href="/stores"><button>Shoe Stores</button></a>
<hr>
<a href="/brands"><button>Shoe Brands</button></a>
<hr>
<a href="/tags"><button>Shoe Categories</button></a>
