<hr>
<form action="/stores" class="form-group" method="post">
  <input type="hidden" name="store-name" value="New Store">
  <button type="submit" name="button">Create New Shoe Store</button>
</form>
<hr>
<form action="/brands" class="form-group" method="post">
  <input type="hidden" name="brand-name" value="New Brand">
  <button type="submit" name="button">Create New Shoe Brand</button>
</form>
<hr>
<a href="/stores"><button>List All Shoe Stores</button></a>
<hr>
<a href="/brands"><button>List All Shoe Brands</button></a>
