<hr>
<form action="/stores" class="form-group" method="post">
  <input type="hidden" name="name" value="New Store">
  <button type="submit" name="button">Create New Shoe Store</button>
</form>
<hr>
<a href="/stores"><button>List All Shoe Stores</button></a>
<hr>
<a href="/brands"><button>List All Shoe Brands</button></a>
<hr>
<a href="/tags"><button>List All Shoe Categories</button></a>
