<h1>Shoe Store Name: <%= @store.store_name() %></h1>

<hr>

<form action="/stores/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="store-name">Update Store Name</label>
  <input type="text" name="store-name">
  <button class="btn btn-info" type="submit">Update</button>
</form>

<hr>
<form action="/stores/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Destroy Store</button>
</form>

<hr>
<a href="/stores">List All Shoe Stores</a>
<br>
<a href="/brands">List All Shoe Brands</a>
<br>
<a href="/">Home</a>
